@import "oldspan.css";
@import "style.css";
@import "custom_rtl.css";

@import url(color_schemes/blue.css);
@import url(color_schemes/ultra.css);
@import url(color_schemes/yellow.css);

html * {
  max-width: 100%; }

#wrapper {
  padding: 0; }

html body {
  padding-bottom: 0 !important; }
.portlet-topper .portlet-title-default, .portlet-topper .portlet-topper-toolbar, .portlet-topper menu{display: inline-block;}

.navbar-form-custom #portlet_com_liferay_portal_search_web_portlet_SearchPortlet .portlet-topper{display: none;}
.navbar-form-custom #portlet_com_liferay_portal_search_web_portlet_SearchPortlet .portlet-content .portlet-title-text{display: none;}
.navbar-form-custom #portlet_com_liferay_portal_search_web_portlet_SearchPortlet .portlet-content form{position: relative;}
.navbar-form-custom #portlet_com_liferay_portal_search_web_portlet_SearchPortlet #_com_liferay_portal_search_web_portlet_SearchPortlet_keywords{border: 1px solid #ccc;  height: 30px;}
.navbar-form-custom #portlet_com_liferay_portal_search_web_portlet_SearchPortlet .portlet-content form .field-wrapper{position: absolute; top:0; right: 0;     width: 30px; left: inherit; height: 30px;}


html .navbar .btn {
  margin-top: 15px; }

html .navbar-fixed-top {
  z-index: 9999; }

html .navbar-form-custom {
  height: auto;
  padding-top: 15px; }

html .navbar-form-custom input[name="_3_keywords"] {
  margin: 0;
  background: transparent;
  box-shadow: none; }

html .navbar-form-custom input[type=image] {
  position: absolute;
  top: 15px;
  right: -31px;
  width: 30px;
  background-color: #1ab394;
  padding: 5px;
  border-radius: 2px; }

html .navbar-form-custom select {
  display: none; }

html .navbar-right .dropdown-menu {
  right: -270px;
  left: auto; }

html .clear, html .clearfix {
  clear: both; }

#_145_dockbar .collapse, #_145_editLayoutPanelSidebar .collapse {
  display: inherit !important; }

#_145_dockbar {
  margin-bottom: 0; }

span.welcome-message {
  line-height: 60px; }

html .modal.yui3-widget {
  background: white;
  display: inherit;
  z-index: 9999;
  top: 2% !important;
  left: 0 !important;
  width: 90% !important;
  margin-left: 5%; }

html .modal.yui3-widget.modal-hidden {
  display: none; }

html select, html textarea, html input[type="text"], html input[type="password"], html input[type="datetime"], html input[type="datetime-local"], html input[type="date"], html input[type="month"], html input[type="time"], html input[type="week"], html input[type="number"], html input[type="email"], html input[type="url"], html input[type="search"], html input[type="tel"], html input[type="color"], html .uneditable-input {
  height: auto; }

html .navbar .nav.navbar-top-links li a {
  padding-top: 17px; }

.lfr-meta-actions.icons-container {
  margin-left: 0;
  left: 0;
  position: absolute;
  bottom: 0px;
  background-color: #F3F3F4;
  box-shadow: 0px 1px 8px 0px #aaa;
  z-index: 99;
  padding: 3px 10px; }

.lfr-meta-actions.icons-container li {
  display: inline-block; }

html .top-navigation .nav > li.active > a {
  color: #1ab394;
  box-shadow: none; }

html .top-navigation .nav .dropdown-toggle .caret {
  margin-top: 0; }

html .nav .dropdown-toggle .caret, html .nav .dropdown-toggle .caret:hover {
  color: white; }

html .tooltip-demo .btn-sm {
  display: inline-block; }

html .btn-sm {
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5; }

html .btn {
  display: inline-block; }

html .breadcrumb li.last {
  font-weight: 700; }

html .breadcrumb li.last .divider {
  display: none; }

html button.close, html button.btn.close {
  color: black; }

html .portlet-topper .portlet-topper-toolbar {
  top: 13px; }

html .modal {
  display: none; }

html #_145_dockbarMessages .footer {
  padding: 0 20px;
  position: inherit; }

html .timeline-item .content, html .timeline-item .date {
  width: 100%; }

/*Portlets*/
html #portlet_58 {
  max-width: 100%;
  overflow-x: hidden;
  margin-top: 15px; }
  html #portlet_58 header {
    padding: 0 10px 10px 10px;
    min-width: 400px;
    max-width: 100%; }
    html #portlet_58 header h1 {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px; }
      html #portlet_58 header h1 img {
        display: none; }
  html #portlet_58 .portlet-topper .portlet-topper-toolbar {
    top: 25px; }
  html #portlet_58 .portlet-content {
    min-width: 400px;
    max-width: 100%; }
    html #portlet_58 .portlet-content form {
      min-width: 400px;
      max-width: 100%; }
  html #portlet_58 label {
    color: #676a6c;
    font-weight: normal; }
  html #portlet_58 .control-group {
    width: 400px; }
    html #portlet_58 .control-group .control-label, html #portlet_58 .control-group input, html #portlet_58 .control-group select, html #portlet_58 .control-group textarea {
      width: 90%;
      max-width: 100%; }
    html #portlet_58 .control-group .checkbox input {
      width: auto; }
  html #portlet_58 .button-holder .btn {
    width: 100%; }
  html #portlet_58 .navigation {
    border: none;
    background: transparent;
    padding: 10px 0; }
    html #portlet_58 .navigation li {
      width: 100%;
      margin-right: 0;
      text-align: center;
      font-size: 12px;
      line-height: 1.5; }
      html #portlet_58 .navigation li img {
        display: none; }
      html #portlet_58 .navigation li a[id*=_58_ctvk] {
        display: block;
        color: inherit;
        border: 1px solid #d2d2d2;
        background: white;
        border-radius: 3px;
        padding: 5px 10px;
        margin: 10px 0; }

html .locked-page #portlet_58 {
  margin: 0 auto;
  float: none;
  max-width: 400px; }
  html .locked-page #portlet_58 header {
    text-align: center;
    min-width: inherit; }
  html .locked-page #portlet_58 .portlet-content {
    min-width: inherit; }
    html .locked-page #portlet_58 .portlet-content form {
      min-width: inherit; }
  html .locked-page #portlet_58 .control-group {
    width: 100%; }

html .locked-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
  background: transparent; }
  html .locked-page #p_p_id_1_WAR_chatportlet_ {
    display: none; }

html .hide-chat #p_p_id_1_WAR_chatportlet_ {
  display: none; }

html .locked-page .span6 #portlet_58 {
  padding-top: 0px;
  background-color: white; }
  html .locked-page .span6 #portlet_58 header {
    padding: 0; }
  html .locked-page .span6 #portlet_58 .portlet-title {
    display: none; }

html #portlet_33 .collapse, html #portlet_33 .nav-collapse.collapse {
  height: auto !important;
  display: inherit; }

html h1.portlet-title {
  line-height: 37px; }
  html h1.portlet-title img {
    display: none; }

html #portlet_33 .entry.approved {
  clear: none;
  position: relative;
  margin-bottom: 10px;
  background-color: white;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
  border-top: none; }
html #portlet_33 .separator {
  display: none; }
html #portlet_33 .entry-date {
  padding-left: 0;
  background: none; }
html #portlet_33 .entry-date:before {
  content: "\f017";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit; }
html #portlet_33 .entry-title h2 {
  font-weight: 700; }
html #portlet_33 .entry-title a {
  color: inherit; }
html #portlet_33 .entry-title a:hover {
  color: #1ab394;
  text-decoration: none; }
html #portlet_33 .entry-tags {
  display: block;
  margin-top: 10px; }
html #portlet_33 .taglib-asset-categories-summary, html #portlet_33 .taglib-asset-tags-summary {
  border-left: none;
  padding-left: 0px; }
html #portlet_33 .taglib-asset-tags-summary .tag {
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
  margin: 0 0 5px 0;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }
html #portlet_33 .entry-author {
  background: none;
  padding-left: 0; }
html #portlet_33 .entry-author:before {
  content: "\f007";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit; }
html #portlet_33 .stats a, html #portlet_33 .taglib-flags a {
  color: #676a6c; }
html #portlet_33 .stats .comments:before {
  content: "\f0e6";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit; }
html #portlet_33 .taglib-flags img {
  display: none; }
html #portlet_33 .taglib-flags .taglib-text:before {
  margin-right: 3px;
  content: "\f11d";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit; }
html #portlet_33 .subscribe {
  clear: both;
  margin: 0;
  padding: 13px 1%; }
  html #portlet_33 .subscribe .taglib-icon img {
    display: none; }
  html #portlet_33 .subscribe .taglib-icon:before {
    content: "\2709";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 19px; }
  html #portlet_33 .subscribe .taglib-rss {
    margin-right: 17px; }
  html #portlet_33 .subscribe .taglib-rss a:before {
    content: "\f09e";
    font-size: inherit; }
  html #portlet_33 .subscribe #_33_ocerSearchContainerPageIterator {
    margin-left: 1%;
    margin-right: 1%; }
    html #portlet_33 .subscribe #_33_ocerSearchContainerPageIterator .pager {
      margin: 6px 0; }

body.portal-popup {
  background: white !important; }

.nav-collapse.collapse {
  display: block; }

/***********/
/*html .dropdown-menu.lfr-menu-list{left: inherit; right: 0}*/
html .carousel-control.right, html .carousel-control.left {
  top: 45%;
  border: none;
  background: transparent; }

html .carousel-caption {
  background: transparent; }

html .carousel-indicators {
  width: auto;
  top: inherit;
  margin: 0 auto; }

html #Language-choices {
  padding-right: 10px;
  float: right; }

html .horiz-menu #Language-choices {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 0px;
  list-style: none; }

html .horiz-menu #Language-choices select {
  width: auto;
  margin: 0; }

html #_145_dockbarMessages .footer {
  border: none; }

a#_145_navAccountControlsNavbarBtn img {
  max-width: 20px; }

html .container {
  max-width: 100% !important; }

html .short-codes .nav-tabs {
  border: none; }
html .short-codes .nav-tabs > li.active > a {
  background-color: #18a689;
  cursor: pointer;
  color: white; }

html .row {
  margin-right: 0;
  margin-left: 0; }

html .border-bottom.row {
  margin-right: 0;
  margin-left: 0; }

#main-content {
  padding-bottom: 55px; }

.menu-name img {
  max-width: 19px;
  max-height: 19px;
  margin-left: -6px;
  margin-right: 6px; }

/************** Notification portlet **************/
html .dockbar-user-notifications .dropdown-toggle .user-notifications-count,
html .dockbar-user-notifications .user-notifications-count {
  width: 15px;
  border: none;
  background: transparent;
  position: relative;
  background-color: #1ab394;
  font-size: 11px;
  padding: 1px 5px;
  color: white;
  font-weight: normal; }

html .dockbar-user-notifications .user-notifications-count:after {
  content: "\f0f3";
  font-family: fontawesome;
  color: #999c9e;
  position: absolute;
  left: -5px;
  top: 5px;
  text-indent: -7px;
  font-size: 13px; }

html .navbar .nav > li > .dropdown-menu.user-notifications-list:before, html .navbar .nav > li > .dropdown-menu.user-notifications-list:after {
  right: 9px;
  left: inherit; }

.dockbar-user-notifications .user-notifications-list .user-notification a:hover, .notifications-portlet .user-notifications-list .user-notification a:hover {
  color: #262626;
  background: #f5f5f5; }

.dockbar-user-notifications .user-notifications-list .message.bottom:after {
  content: "\f054";
  font-family: fontawesome;
  position: absolute;
  top: 35%; }

/************** Dockbar portlet **************/
#p_p_id_145_ {
  display: inline-block;
  padding-top: 15px; }

#_145_dockbar {
  background: transparent;
  z-index: 9999; }

#_145_dockbar .navbar-inner {
  box-shadow: none;
  background: transparent;
  border: none; }

html .dockbar .navbar-inner, html .dockbar .navbar-inner .container {
  padding: 0; }

#_145_navAddControlsNavbarCollapse, #_145_dockbar .collapse, #_145_navAccountControlsNavbarCollapse, #_145_navAccountControls, #_145_navAddControls {
  margin: 0;
  display: inline-block  !important; }

html #_145_dockbar .nav > li > a {
  padding: 10px 7px;
  outline: none !important;
  color: #555; }

html #_145_dockbar .nav > li#_2_WAR_notificationsportlet_userNotifications > a {
  padding-left: 17px;
  padding-top: 0px; }

html #_145_dockbar .nav > li > a i {
  margin-right: 0px; }

html #_145_dockbar .divider-vertical {
  margin: 0 3px;
  border: none; }

html .navbar .nav.navbar-top-links {
  margin-top: 15px;
  margin-right: 0; }

html .navbar-top-links li:last-child {
  margin-right: 0; }

html .minimalize-styl-2 {
  margin-left: 10px; }

html .navbar .nav.navbar-top-links > li > a {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 100%;
  line-height: 38px; }

.right {
  float: right; }

html .portlet-borderless-container, html .portlet.portlet-container {
  position: relative;
  background-color: white;
  border: 1px solid #e7eaec;
  padding: 25px;
  margin-top: 15px; }

html .message {
  padding: 2px 10px; }

.lfr-add-dialog .add-content-menu .lfr-page-template .lfr-page-template-title label, .lfr-add-panel .add-content-menu .lfr-page-template .lfr-page-template-title label {
  padding-left: 20px; }

.lfr-add-dialog .add-content-menu .lfr-page-template .lfr-page-template-title .radio input, .lfr-add-panel .add-content-menu .lfr-page-template .lfr-page-template-title .radio input {
  margin-left: -15px; }

html button, html .btn, html html input[type="button"], html input[type="reset"], html input[type="submit"] {
  background-color: #1ab394;
  background: #1ab394;
  padding: 5px 10px;
  border-radius: 2px;
  color: white;
  border: none; }

html .btn:hover, html .btn:focus, html .btn:active, html .btn.active, html .btn.disabled, html .btn[disabled],
html .navbar .btn-navbar, html .navbar .btn-navbar:hover, html .navbar .btn-navbar:focus, html .navbar .btn-navbar:active {
  background: #1ab394;
  color: white; }

html .navbar .btn-navbar#_145_navAddControlsNavbarBtn {
  background: #e9e9e9; }

html .portlet-options a .icon-cog {
  font-size: 15px;
  display: block;
  text-indent: 1px; }

html .portlet-options .btn-group.lfr-icon-menu.portlet-options {
  max-width: 25px; }

html select, html input[type="file"] {
  margin-bottom: 10px; }

html #_83_fieldSet {
  margin-top: 10px; }

html .lfr-message-info {
  padding: 10px;
  border-radius: 0; }

html .dockbar-user-notifications .user-notifications-list .message, html .notifications-portlet .user-notifications-list .message {
  background: transparent;
  border: none;
  width: auto; }

html .dockbar-user-notifications .user-notifications-list .message {
  padding: 0;
  display: block; }

html .dockbar-user-notifications .user-notifications-list.dropdown-menu .message {
  min-height: 26px; }

html .dockbar-user-notifications .user-notifications-list .message.bottom:after {
  content: "\f054";
  font-family: fontawesome;
  position: absolute;
  top: 24%; }

html .theme-config-box {
  max-height: 50px; }

html .theme-config-box.show {
  max-height: inherit; }

/************** chatportlet portlet **************/
#p_p_id_1_WAR_chatportlet_ {
  /*.panel-window{border-radius:0; border: 1px solid #e7eaec;}
  .panel-title{    background: #2f4050;    height: inherit; padding: 8px 15px; font-weight: bold; color: #fff;}
  .buddy-list .field.search-buddies{    margin-top: 2px;    width: 100%;}
  label {    font-size: 11px; line-height: 14px;}
  #saveSettings{    background: #1ab394;    border: none; color: #FFFFFF;    height: 30px; padding: 5px 10px;font-size: 12px; line-height: 1.5; border-radius: 3px;}
  .chat-bar{z-index: 9999;background: white;    border: 1px solid #e7eaec;left:inherit;    right: 0;}
  .chat-status, .chat-tabs-container, ul.chat-tabs{    display: inline-block;}
  .chat-settings .panel-trigger .trigger-name:before {content: "\f013";font-family: fontawesome;float: right;margin-left: 5px;margin-top: 2px;}
  .chat-bar div ul li.selected .panel-trigger, .buddy-list .panel-trigger{     border-radius: 0; background:#1ab394;color:white;  border: inherit;border-width: inherit;height: 23px;line-height: inherit;margin: inherit;position: inherit;z-index: inherit;}
  .chat-bar div ul li.selected.chat-settings .panel-trigger{border-right: 1px solid white;}
  .chat-settings li{border-color:  #e7eaec;}
  .chat-bar .status-message, .chat-bar .trigger-name{    text-shadow: none;}
  .panel-button.minimize{    top: 13px;}
  .chat-bar div ul li .panel-trigger{border-color: #e7eaec;     padding: 0px 12px;}
  .chat-bar .buddy-list .trigger-name:after{ content: "\f086"; font-family: fontawesome;font-size: 13px;}*/ }
  #p_p_id_1_WAR_chatportlet_ .badge-warning {
    position: absolute;
    top: -7px;
    right: -2px; }

/************** chatportlet portlet **************/
html .chat-bar {
  left: inherit;
  background: white; }
  html .chat-bar .panel-window, html .chat-bar .panel-window label {
    font: inherit;
    font-size: 13px;
    font-weight: normal; }
  html .chat-bar .chat-settings span.trigger-name {
    font-size: 0; }
  html .chat-bar .chat-settings .panel-trigger:BEFORE {
    font-family: "FontAwesome";
    content: "\f013";
    font-size: 15px;
    color: #ccc; }
  html .chat-bar .buddy-list span.trigger-name {
    font-size: 0; }
  html .chat-bar .buddy-list .panel-trigger:BEFORE {
    font-family: "FontAwesome";
    content: "\f007";
    font-size: 16px;
    color: #ccc; }
  html .chat-bar div ul li.selected .panel-trigger {
    border: none;
    border-radius: 0; }
  html .chat-bar .panel-window {
    border-radius: 0;
    border-color: #B5B5B5; }
  html .chat-bar .chat-panel {
    bottom: 22px; }
  html .chat-bar .selected .chat-panel {
    right: 201px;
    margin: 0;
    left: inherit; }
  html .chat-bar .panel-title {
    background: white;
    color: #20272B;
    font-size: 13px;
    padding: 7px 3px;
    height: inherit; }
  html .chat-bar .chat-settings .panel-title {
    border-bottom: 1px solid #B5B5B5; }
  html .chat-bar .control-group {
    margin-bottom: 5px; }
  html .chat-bar .buddy-list .field.search-buddies {
    background: #f8f8f8;
    margin-bottom: 0px;
    border-radius: 0;
    width: 100%;
    box-shadow: none !important;
    border-width: 1px 0; }
  html .chat-bar .buddy-list .field.search-buddies:focus {
    outline: none !important; }
  html .chat-bar .buddy-list .panel-button.minimize, html .chat-bar .chat-settings .panel-button.minimize {
    right: 11px; }
  html .chat-bar .minimize.panel-button {
    background: none; }
  html .chat-bar .minimize.panel-button:before {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 28px; }
  html .chat-bar .chat-status {
    display: inline-block;
    min-width: 15px;
    height: 100%;
    margin-left: 0;
    border-right: 1px solid #eee; }
  html .chat-bar .chat-status .status-message {
    padding-left: 0;
    margin-top: 0; }
  html .chat-bar .chat-status .status-message:before {
    font-family: "FontAwesome";
    content: "\f1db";
    font-size: 14px;
    line-height: 25px;
    color: #7dcf5f; }
  html .chat-bar .chat-tabs-container {
    display: inline-block; }
  html .chat-bar .buddy-list .panel-content {
    overflow-y: auto;
    min-height: 37px; }
  html .chat-bar .ctrl-holder input[type="submit"] {
    border: none;
    padding: 9px 10px;
    width: 100%; }
  html .chat-bar .chat-settings.saved .panel-trigger .trigger-name {
    background: none;
    padding-left: 3px; }
  html .chat-bar .chat-settings.saved .panel-trigger:after {
    content: "\f00c";
    font-family: "FontAwesome";
    color: #7dcf5f; }
  html .chat-bar img.panel-icon {
    border-radius: 50%;
    border: none; }
  html .chat-bar .buddy-list .panel-content .online-users li {
    height: inherit;
    margin-left: 3px; }
  html .chat-bar .active.user:after {
    font-family: "FontAwesome";
    content: "\f111";
    font-size: 14px;
    line-height: 25px;
    color: #7dcf5f;
    float: right; }
  html .chat-bar .user img {
    border-radius: 50%;
    border: 1px solid #aaa; }
  html .chat-bar .panel-window .close {
    margin-top: 8px; }
  html .chat-bar .panel-output .incoming .name, html .chat-bar .panel-output .name {
    background: transparent;
    color: black; }
  html .chat-bar .blurb {
    border-bottom: 1px solid #ccc;
    padding-top: 5px; }
  html .chat-bar .blurb:last-child {
    border: none; }
  html .chat-bar .panel-output .date {
    color: #767676; }
  html .chat-bar .panel-input, html .chat-bar .panel-output {
    border: none; }
  html .chat-bar .panel-input textarea.message-input {
    border-top: 1px solid;
    border-radius: 0; }
  html .chat-bar .panel-profile {
    background: #fafafa; }

/************** Activities portlet **************/
html #p_p_id_116_ .day-separator {
  font-weight: bold; }
html #p_p_id_116_ .day-separator:before {
  content: "\f133";
  font-family: fontawesome; }
html #p_p_id_116_ .portlet-icon {
  width: 31px;
  padding-left: 10px;
  padding-top: 5px; }
html #p_p_id_116_ .activity-data {
  padding: 5px 0 15px 0; }

/************** Asset publisher portlet **************/
html .add-asset-selector .nav-collapse, html .add-asset-selector .nav-collapse.collapse {
  height: inherit !important;
  overflow: visible !important; }

html .add-asset-selector .navbar .btn {
  margin-top: 4px; }

/************** microblogs portlet **************/
.microblogs-portlet .microblogs-entry-form .microblogs-countdown {
  background: #1ab394; }

.microblogs-portlet .autocomplete {
  height: 35px; }

.microblogs-portlet .microblogs-entry-form .field-text textarea {
  min-height: 15px;
  background: white;
  max-height: 99%; }

.calendar-portlet .lfr-busy-day:after {
  margin-top: -6px; }

html .yui3-skin-sam .calendar-portlet .yui3-calendar-day.yui3-calendar-day-selected, html .yui3-skin-sam .calendar-portlet .yui3-calendar-day.yui3-calendar-day-selected.lfr-busy-day {
  background-color: inherit; }

html .yui3-skin-sam .calendar-portlet .yui3-calendar-day:hover, html .yui3-skin-sam .calendar-portlet .yui3-calendar-day.yui3-calendar-day-selected:hover, html .yui3-skin-sam .calendar-portlet .yui3-calendar-day.yui3-calendar-day-selected.lfr-busy-day:hover {
  background-color: #19AA8D;
  color: white; }

.calendar-portlet .popover.scheduler-event-recorder-popover {
  z-index: 9999; }

html .yui3-skin-sam .calendar-portlet .yui3-calendar-day.lfr-busy-day, html .yui3-skin-sam .calendar-portlet .yui3-calendar-day.yui3-calendar-day-selected.lfr-busy-day {
  color: #19aa8d; }

html .calendar-portlet .calendar-portlet-column-grid .scheduler-event {
  text-overflow: ellipsis; }

html .chat-panel img.panel-icon {
  display: inline-block;
  float: left;
  position: relative; }

html .chat-panel .panel-title, html .chat-panel .panel-profile {
  text-indent: inherit; }

html #p_p_id_1_WAR_chatportlet_ .panel-title, html .chat-panel .panel-profile {
  padding-left: 58px; }

html .private-messaging-portlet .message-link .subject {
  padding-top: 3px;
  font-weight: bold;
  Text-transform: CAPITALIZE; }

html #_1_WAR_privatemessagingportlet_markMessagesAsUnread, html #_1_WAR_privatemessagingportlet_markMessageAsUnread {
  background: #1fc6cc;
  color: white; }

html #_1_WAR_privatemessagingportlet_markMessagesAsRead, html #_1_WAR_privatemessagingportlet_markMessageAsRead {
  background: #2582bd;
  color: white; }

html #_1_WAR_privatemessagingportlet_deleteMessages, html #_1_WAR_privatemessagingportlet_deleteMessage {
  background: #ec5365;
  color: white; }

html .activity-title {
  padding-left: 56px; }

html td .activity-title {
  padding-left: inherit; }

html .taglib-header .header-back-to a {
  padding: 0; }

html .private-messaging-portlet .thread .taglib-header {
  padding: 7px 10px; }

html .private-messaging-portlet .date {
  margin-left: 20px; }

html .private-messaging-portlet .thread .body {
  padding-top: 10px; }

html .message {
  min-height: 60px; }

html .so-portlet-activities .user-portrait {
  left: inherit;
  margin-bottom: inherit;
  position: relative;
  top: inherit;
  margin-right: 11px; }

html .taglib-search-toggle {
  margin-top: 5px; }

html .navbar-search .taglib-search-toggle {
  margin-top: 0; }

.portlet-journal-content .journal-content-article {
  overflow-wrap: break-word; }

#btnClose {
  padding: 4px 8px;
  margin-top: 15px; }

html .navbar-form-custom input[name="_3_keywords"] {
  padding-top: 3px;
  padding-bottom: 3px; }

html .scheduler-view-week .scheduler-event-title, html .scheduler-view-week .scheduler-event-content {
  display: inline;
  max-width: 80%;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  margin-top: 0; }

html .calendar-portlet .calendar-portlet-column-grid .scheduler-event {
  text-overflow: ellipsis;
  max-height: 44px;
  border: none;
  border-radius: 0;
  width: 100% !important;
  margin-top: 3px;
  padding: 0 2%; }

html .scheduler-view-day-resizer {
  display: none; }

html form {
  margin-bottom: 0; }

html .add-content-menu .nav-pills > li > a {
  padding: 10px 15px; }

html #_145_editLayoutContainer .navbar-inner, html #_145_editLayoutContainer .container {
  padding-left: 2px;
  padding-right: 2px; }

html .contacts-portlet .portlet .portlet-content {
  background: #F5F5F5; }
html .contacts-portlet .portlet-content-container {
  border: 1px solid #D6D2D2;
  border-radius: 5px 5px 0 0; }
html .contacts-portlet .layout.toolbar {
  border: none; }
html .contacts-portlet .contact-group-filter {
  height: 40px;
  border-right: 1px solid #D6D2D2; }
html .contacts-portlet .contacts-result-container-content .contacts-list .contacts-search {
  height: 38px; }
html .contacts-portlet .contacts-result-container-content .contacts-list .contacts-search .search-input {
  margin-bottom: 0;
  width: 100%;
  background: #F5F5F5; }
html .contacts-portlet .contacts-result .lfr-contact-grid-item, html .contacts-portlet .my-contacts .lfr-contact-grid-item {
  height: inherit; }
html .contacts-portlet .contacts-result .lfr-contact-grid-item .lfr-contact-thumb img, html .contacts-portlet .my-contacts .lfr-contact-grid-item .lfr-contact-thumb img {
  border-radius: 50%;
  border: 1px solid; }
html .contacts-portlet .contacts-result .last-name-anchor a {
  background: transparent;
  border-bottom: none;
  margin: 5px 0 7px 0;
  color: #19AA8D;
  font-weight: bold;
  border-top: 1px solid #aaa;
  padding-top: 7px; }
html .contacts-portlet .contacts-result .last-name-anchor:first-child a {
  border: none; }
html .contacts-portlet .lfr-contact {
  border-bottom: none;
  margin-top: 10px; }
html .contacts-portlet .contact-group-filter .contact-group-filter-content {
  padding: 5px 4px 5px 5px; }
html .contacts-portlet .column.w70.contacts-container {
  padding: 5px 10px;
  background: white;
  border-top: 1px solid #D6D2D2;
  border-left: 1px solid #D6D2D2; }
html .contacts-portlet .contacts-result-container-content .contacts-container .contacts-container-content {
  border: none; }
html .contacts-portlet .taglib-header {
  margin-bottom: 2em;
  border: none; }
html .contacts-portlet .contacts-center-home .contacts-count, html .contacts-portlet .contacts-center-home .contacts-count .contacts-center-introduction {
  margin: 10px 0; }
html .contacts-portlet .user-information-title {
  text-align: left; }
html .contacts-portlet #_1_WAR_contactsportlet_userToolbarButtons {
  margin-bottom: 13px; }

html .microblogs-entry-form {
  margin-bottom: 10px; }

li.nav-header > div.profile-element > span > img.img-circle {
  width: 48px; }

html .profile-element a.dropdown-toggle span {
  color: white !important; }

/************** Webform portlet **************/
html .legend {
  color: #293846;
  font-weight: 400; }

html .web-form-portlet label.control-label {
  width: 100px; }
html .web-form-portlet button.btn {
  width: 206px;
  margin-left: 103px; }
html .web-form-portlet input, html .web-form-portlet textarea, html .web-form-portlet select {
  max-width: 206px; }
html .web-form-portlet .portlet-content, html .web-form-portlet .portlet-minimized .portlet-content-container {
  padding-left: 0; }

html .portlet-title-text {
  color: #293846;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px; }

html #portlet_3 form {
  position: relative; }
  html #portlet_3 form input[name='_3_keywords'] {
    border-radius: 0 2px 2px 0;
    border-left: none; }
  html #portlet_3 form input#_3_keywords {
    border-left: 1px solid #cccccc; }
  html #portlet_3 form select {
    float: left;
    width: auto;
    height: 30px;
    border-radius: 2px 0 0 2px; }
  html #portlet_3 form input[type="image"] {
    position: absolute;
    margin-left: -30px;
    width: 30px;
    background-color: #1ab394;
    padding: 5px;
    top: 0; }
  html #portlet_3 form input#_3_clearSearch {
    margin: 0; }
  html #portlet_3 form #_3_searchContainer {
    position: relative; }

html .notifications-portlet .user-notifications-list .user-notification a {
  border-bottom: none;
  padding: 15px; }

html .notifications-portlet .nav a {
  margin-bottom: 2px; }

.notifications-portlet .nav a:hover, .notifications-portlet .nav a:focus, html .notifications-portlet .nav a.selected {
  background: #1ab394; }

html .notifications-portlet .nav a .count {
  background: #1ab394;
  color: white;
  padding: 3px 5px 1px 5px;
  border-radius: 7px;
  line-height: 12px;
  padding-bottom: 0px;
  margin-top: 3px; }

html .notifications-portlet .nav a.selected .count {
  color: #1ab394;
  background: white; }

html .notifications-portlet .message a:hover {
  background: transparent; }

html .notifications-portlet .message a {
  color: #262626; }

html .notifications-portlet .user-notifications-list-container {
  min-height: 88px; }

html #main-content .nav[role='menubar'] li a {
  text-shadow: none;
  background: #f5f5f5;
  margin-right: 2px;
  border-radius: 3px; }

html #main-content .navbar .nav[role='menubar'] > li > a:focus, html #main-content .navbar .nav[role='menubar'] > li > a:hover, html #main-content .navbar .nav[role='menubar'] li.active a {
  background: #1ab394;
  color: white;
  box-shadow: none; }

html section.portlet.portlet-container {
  position: relative; }

html .taglib-rss {
  position: absolute;
  top: 45px;
  right: 35px; }

html .taglib-rss a {
  color: inherit; }

html .taglib-rss a:before {
  font-family: 'fontAwesome';
  content: "\f09e";
  font-size: inherit; }

html .taglib-rss .taglib-icon img {
  display: none; }

html #portlet_115 .entry-content, html #portlet_33 .entry.approved {
  position: relative;
  padding-left: 13px; }

html #portlet_115 .entry-content:before, html #portlet_33 .entry.approved:before {
  content: '';
  width: 1px;
  height: 93%;
  position: absolute;
  background: #1ab394;
  top: 7%;
  left: 0; }

html #portlet_33 .entry-date {
  position: absolute;
  right: 0;
  top: 0; }

html .taglib-social-activities .day-separator {
  border-bottom: none; }

html .taglib-social-bookmarks ul {
  padding: 8px 10px 3px 10px; }

html .scheduler-view-day-table-time {
  height: 53px;
  line-height: 47px; }

html .calendar-portlet-list-arrow {
  background: url("../images/common/icon_sprite_white.png") -61px 0px; }

html .toggler-header-expanded .calendar-portlet-list-arrow {
  background: url("../images/common/icon_sprite_white.png") 5px 0px; }

/************** End Webform portlet **************/
html #portlet_58 form[action*="open_id"] label.control-label, html #portlet_58 form[action*="forgot_password"] label.control-label, html #portlet_58 form.sign-in-form label.control-label {
  width: 100px; }
html #portlet_58 form[action*="open_id"] input, html #portlet_58 form[action*="open_id"] textarea, html #portlet_58 form[action*="open_id"] select, html #portlet_58 form[action*="forgot_password"] input, html #portlet_58 form[action*="forgot_password"] textarea, html #portlet_58 form[action*="forgot_password"] select, html #portlet_58 form.sign-in-form input, html #portlet_58 form.sign-in-form textarea, html #portlet_58 form.sign-in-form select {
  max-width: 260px; }
html #portlet_58 form[action*="create_account"] .control-label, html #portlet_58 form[action*="create_account"] input, html #portlet_58 form[action*="create_account"] select, html #portlet_58 form[action*="create_account"] textarea {
  max-width: 100% !important; }
html #portlet_58 .button-holder button.btn, html #portlet_58 .navigation {
  width: 360px; }

html #portlet_84 .read-entries, html #portlet_84 .unread-entries, html #portlet_84 form {
  border: 1px solid #ddd;
  border-top: none;
  padding: 5px 10px; }
html #portlet_84 .read-entries {
  padding: 0 10px; }

html .nav.nav-tabs li.active {
  background: #1ab394;
  color: white;
  border-radius: 3px 3px 0 0; }

html .nav.nav-tabs li.active a {
  background: #1ab394;
  color: white;
  border: none; }

html .portlet-body .navbar-inner {
  background: transparent;
  border: none;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0; }

html .portlet-body .navbar-inner .container {
  padding-left: 0;
  padding-right: 0; }

html .form-search .input-append .search-query {
  border-radius: 3px 0 0 3px;
  width: auto; }

html .form-search .input-append .btn {
  border-radius: 0 3px 3px 0;
  font-size: 0;
  height: 30px;
  width: 30px;
  background: #1ab394 url("../images/common/search.png") center no-repeat; }

html .portlet-image-gallery-display .taglib-search-iterator-page-iterator-top {
  display: none; }

html .portlet-image-gallery-display [class*="asset-column-details"] {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 20px 2% 10px 2%; }

html .pager li > a {
  border-radius: 3px;
  padding: 5px; }

html .pager {
  margin: 7px 0; }

html .taglib-page-iterator {
  padding-left: 3px;
  padding-right: 3px; }

html .lfr-pagination-page-selector {
  margin-left: 3px;
  margin-right: 3px; }

html .image-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  max-width: 100%;
  display: block; }

html .portlet-image-gallery-display .image-icon {
  max-width: 100%; }

html a {
  color: #1ab394; }

html .social-activities {
  border-left: 1px solid #1ab394; }

html .social-activities h3 {
  margin-left: -2px;
  background: white;
  margin-top: 0;
  height: 55px;
  padding: 25px 0; }

html .so-portlet-activities .activity-item, html .activity-item {
  border: none;
  padding-bottom: 0; }

html .activity-body, html .so-portlet-activities .activity-body {
  border: none;
  padding-left: 0; }

html .activity-item .user-portrait .icon {
  display: none; }

html .contacts-portlet .portlet .portlet-content .portlet-body form {
  background: #1ab394; }

html .contacts-portlet .contact-group-filter {
  border-right: none; }

html .contacts-portlet .contacts-result-container-content .contacts-list .contacts-search {
  border-bottom: none; }

html .contacts-portlet .contacts-result-container-content .contacts-list .contacts-search .search-input {
  background: white; }

html .contacts-portlet .contacts-result-container-content .contacts-list .contacts-search .icon-search {
  background: #1ab394;
  width: 28px;
  height: 30px;
  top: 4px;
  right: 6px;
  border-radius: 0 2px 2px 0;
  text-align: center;
  line-height: 28px;
  color: white; }

html [class="lfr-contact-name"] a {
  color: black; }

html .last-name-anchor, html .lfr-contact {
  padding: 0 5px; }

html .contacts-portlet .contacts-result .lfr-contact-grid-item .lfr-contact-thumb img, html .contacts-portlet .my-contacts .lfr-contact-grid-item .lfr-contact-thumb img {
  border-color: #f5f5f5; }

html .contacts-portlet .contacts-result-container-content .contacts-container .lfr-button-column .edit-toolbar button {
  background: transparent;
  color: inherit; }

html .contacts-portlet .contacts-result-container-content .contacts-container .lfr-button-column {
  margin-bottom: 20px; }

html .alert {
  padding: 5px;
  margin-bottom: inherit; }

html #_20_toolbarContainer {
  border: 1px solid #ddd;
  border-radius: 3px; }

html .portlet-alerts .entry {
  border-radius: 5px;
  border-width: 3px; }

html .portlet-topper .portlet-topper-toolbar .portlet-icon-back:hover, html .portlet-topper .portlet-topper-toolbar .portlet-icon-back {
  color: #1ab394; }

html .span5 #portlet_58 form[action*="open_id"] label.control-label, html .span5 #portlet_58 form[action*="open_id"] input, html .span5 #portlet_58 form[action*="open_id"] textarea, html .span5 #portlet_58 form[action*="open_id"] select, html .span5 #portlet_58 form[action*="open_id"] .control-group, html .span5 #portlet_58 form[action*="forgot_password"] label.control-label, html .span5 #portlet_58 form[action*="forgot_password"] input, html .span5 #portlet_58 form[action*="forgot_password"] textarea, html .span5 #portlet_58 form[action*="forgot_password"] select, html .span5 #portlet_58 form[action*="forgot_password"] .control-group, html .span5 #portlet_58 form.sign-in-form label.control-label, html .span5 #portlet_58 form.sign-in-form input, html .span5 #portlet_58 form.sign-in-form textarea, html .span5 #portlet_58 form.sign-in-form select, html .span5 #portlet_58 form.sign-in-form .control-group, html .span4 #portlet_58 form[action*="open_id"] label.control-label, html .span4 #portlet_58 form[action*="open_id"] input, html .span4 #portlet_58 form[action*="open_id"] textarea, html .span4 #portlet_58 form[action*="open_id"] select, html .span4 #portlet_58 form[action*="open_id"] .control-group, html .span4 #portlet_58 form[action*="forgot_password"] label.control-label, html .span4 #portlet_58 form[action*="forgot_password"] input, html .span4 #portlet_58 form[action*="forgot_password"] textarea, html .span4 #portlet_58 form[action*="forgot_password"] select, html .span4 #portlet_58 form[action*="forgot_password"] .control-group, html .span4 #portlet_58 form.sign-in-form label.control-label, html .span4 #portlet_58 form.sign-in-form input, html .span4 #portlet_58 form.sign-in-form textarea, html .span4 #portlet_58 form.sign-in-form select, html .span4 #portlet_58 form.sign-in-form .control-group, html .span3 #portlet_58 form[action*="open_id"] label.control-label, html .span3 #portlet_58 form[action*="open_id"] input, html .span3 #portlet_58 form[action*="open_id"] textarea, html .span3 #portlet_58 form[action*="open_id"] select, html .span3 #portlet_58 form[action*="open_id"] .control-group, html .span3 #portlet_58 form[action*="forgot_password"] label.control-label, html .span3 #portlet_58 form[action*="forgot_password"] input, html .span3 #portlet_58 form[action*="forgot_password"] textarea, html .span3 #portlet_58 form[action*="forgot_password"] select, html .span3 #portlet_58 form[action*="forgot_password"] .control-group, html .span3 #portlet_58 form.sign-in-form label.control-label, html .span3 #portlet_58 form.sign-in-form input, html .span3 #portlet_58 form.sign-in-form textarea, html .span3 #portlet_58 form.sign-in-form select, html .span3 #portlet_58 form.sign-in-form .control-group, html .span2 #portlet_58 form[action*="open_id"] label.control-label, html .span2 #portlet_58 form[action*="open_id"] input, html .span2 #portlet_58 form[action*="open_id"] textarea, html .span2 #portlet_58 form[action*="open_id"] select, html .span2 #portlet_58 form[action*="open_id"] .control-group, html .span2 #portlet_58 form[action*="forgot_password"] label.control-label, html .span2 #portlet_58 form[action*="forgot_password"] input, html .span2 #portlet_58 form[action*="forgot_password"] textarea, html .span2 #portlet_58 form[action*="forgot_password"] select, html .span2 #portlet_58 form[action*="forgot_password"] .control-group, html .span2 #portlet_58 form.sign-in-form label.control-label, html .span2 #portlet_58 form.sign-in-form input, html .span2 #portlet_58 form.sign-in-form textarea, html .span2 #portlet_58 form.sign-in-form select, html .span2 #portlet_58 form.sign-in-form .control-group, html .span1 #portlet_58 form[action*="open_id"] label.control-label, html .span1 #portlet_58 form[action*="open_id"] input, html .span1 #portlet_58 form[action*="open_id"] textarea, html .span1 #portlet_58 form[action*="open_id"] select, html .span1 #portlet_58 form[action*="open_id"] .control-group, html .span1 #portlet_58 form[action*="forgot_password"] label.control-label, html .span1 #portlet_58 form[action*="forgot_password"] input, html .span1 #portlet_58 form[action*="forgot_password"] textarea, html .span1 #portlet_58 form[action*="forgot_password"] select, html .span1 #portlet_58 form[action*="forgot_password"] .control-group, html .span1 #portlet_58 form.sign-in-form label.control-label, html .span1 #portlet_58 form.sign-in-form input, html .span1 #portlet_58 form.sign-in-form textarea, html .span1 #portlet_58 form.sign-in-form select, html .span1 #portlet_58 form.sign-in-form .control-group {
  width: 100%; }
html .span5 #portlet_58 .portlet-content,
html .span5 #portlet_58 .portlet-content form, html .span5 #portlet_58 .button-holder, html .span5 #portlet_58 .navigation, html .span5 #portlet_58 .button-holder button.btn, html .span4 #portlet_58 .portlet-content,
html .span4 #portlet_58 .portlet-content form, html .span4 #portlet_58 .button-holder, html .span4 #portlet_58 .navigation, html .span4 #portlet_58 .button-holder button.btn, html .span3 #portlet_58 .portlet-content,
html .span3 #portlet_58 .portlet-content form, html .span3 #portlet_58 .button-holder, html .span3 #portlet_58 .navigation, html .span3 #portlet_58 .button-holder button.btn, html .span2 #portlet_58 .portlet-content,
html .span2 #portlet_58 .portlet-content form, html .span2 #portlet_58 .button-holder, html .span2 #portlet_58 .navigation, html .span2 #portlet_58 .button-holder button.btn, html .span1 #portlet_58 .portlet-content,
html .span1 #portlet_58 .portlet-content form, html .span1 #portlet_58 .button-holder, html .span1 #portlet_58 .navigation, html .span1 #portlet_58 .button-holder button.btn {
  width: 100%;
  min-width: 100%; }

html [id^=calendaryui_patched] .yui3-u-1 {
  border: 1px solid #ddd;
  border-top: none; }

html .yui3-skin-sam .yui3-calendar-header {
  background: #1ab394;
  padding: 30px 0;
  color: white;
  text-align: center; }

.yui3-skin-sam .yui3-calendar-header-label {
  width: auto;
  padding: 0 15px; }

html .yui3-skin-sam .yui3-calendarnav-prevmonth, html .yui3-skin-sam .yui3-calendarnav-nextmonth {
  color: white; }

html .yui3-skin-sam .calendar-portlet .yui3-calendar-weekday {
  color: #1ab394;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold; }

html .calendar-portlet-mini-calendar * {
  outline: none !important; }

html .yui3-skin-sam .yui3-calendarnav-prevmonth, html .yui3-skin-sam .yui3-calendarnav-nextmonth {
  background: none; }

html .yui3-skin-sam .yui3-calendar-content {
  padding: 0; }

html .yui3-skin-sam .yui3-calendarnav-prevmonth:after {
  font-family: 'FontAwesome';
  content: "\f104"; }

html .yui3-skin-sam .yui3-calendarnav-nextmonth:after {
  font-family: 'FontAwesome';
  content: "\f105"; }

html #_1_WAR_calendarportlet_miniCalendarContainer {
  margin-top: 33px; }

html .scheduler-base-views.yui3-widget.btn-group.btn-group-content {
  width: auto;
  float: right; }

html .scheduler-view-day-header-table, html .scheduler-view-table-header-table {
  background: #2f4050; }

html .scheduler-view-day-header-table th a, html .scheduler-view-day-header-table th a:hover
html .scheduler-view-table-header-table th, html .scheduler-view-table-header-col th {
  color: white;
  text-align: center; }

html .scheduler-view-day-header-view-label {
  margin-top: -31px;
  top: inherit; }

html .scheduler-view-day-content .yui3-widget-hd {
  padding-top: 0;
  border-top: none;
  border-right: none; }

html .scheduler-base-hd .scheduler-base-controls button, html .scheduler-base-hd .scheduler-base-views button {
  background-color: transparent;
  background: none;
  padding: 5px 10px;
  color: inherit;
  font-weight: bold; }
html .scheduler-base-hd .scheduler-base-controls button.active, html .scheduler-base-hd .scheduler-base-controls button:hover, html .scheduler-base-hd .scheduler-base-controls button:focus, html .scheduler-base-hd .scheduler-base-views button.active, html .scheduler-base-hd .scheduler-base-views button:hover, html .scheduler-base-hd .scheduler-base-views button:focus {
  outline: none;
  box-shadow: none;
  background: #1ab394;
  color: white; }

html .calendar-portlet .calendar-portlet-column-grid .scheduler-event {
  background: #1ab394;
  color: white; }

html .toggler-header-expanded.calendar-portlet-list-header, html .calendar-portlet-list-header.toggler-header.toggler-header-collapsed, html .calendar-portlet-list-header.toggler-header.toggler-header-expanded {
  background: #1ab394;
  color: white;
  border-radius: 3px 3px 0 0;
  padding: 0 3px; }

html .calendar-portlet-calendar-list.yui3-widget.component.calendar-list {
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 3px 3px;
  margin-bottom: 15px;
  margin-left: 0;
  padding-left: 0; }

html .calendar-portlet-calendar-list.yui3-widget.component.calendar-list .calendar-portlet-add-calendars-input {
  width: 100%;
  border-left: 0;
  border-right: 0;
  border-top: 0; }

html .calendar-list-content .calendar-list-empty-message {
  padding: 5px; }

html .calendar-portlet-list-header .calendar-list-item-arrow, html .calendar-list-item .calendar-list-item-color, html .calendar-list-item .calendar-list-item-arrow {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 0;
  box-shadow: none; }

html .portlet-blogs-aggregator .entry-title a {
  color: inherit; }

html .portlet-document-library-display .accordion-group {
  border: none; }
html .portlet-document-library-display .toggler-content {
  border: 1px solid #ddd; }
html .portlet-document-library-display .accordion-heading .accordion-toggle {
  display: inline-block;
  background: #1ab394;
  color: white;
  border-radius: 3px 3px 0 0; }

html .image-viewer.image-gallery.yui3-widget-positioned.yui3-widget-modal {
  min-width: 50%;
  background: white;
  text-align: center;
  padding: 10px; }

html .image-gallery.yui3-widget-modal .image-viewer-bd, html .image-gallery.yui3-widget-modal .yui3-widget-ft {
  min-width: 100%;
  text-align: center; }

html #_145_navAccountControls li.dockbar-item ul.dropdown-menu {
  position: absolute;
  right: 0;
  left: inherit; }

html #_145_navAccountControls li.dockbar-item ul.dropdown-menu:before, html #_145_navAccountControls li.dockbar-item ul.dropdown-menu:after {
  left: inherit;
  right: 9px; }

html body.collapsed-menu #p_p_id_145_ {
  /*********Edit menu******************/
  /*********End Edit menu******************/
  /*********Notification menu******************/
  /*********End Notification menu******************/
  /*********sites menu******************/
  /*********End sites menu******************/
  /*********admin menu******************/
  /*********End admin menu******************/ }
  html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarCollapse, html body.collapsed-menu #p_p_id_145_ #_145_dockbar .collapse, html body.collapsed-menu #p_p_id_145_ #_145_navAccountControlsNavbarCollapse, html body.collapsed-menu #p_p_id_145_ #_145_navAccountControls, html body.collapsed-menu #p_p_id_145_ #_145_navAddControls {
    height: inherit; }
  html body.collapsed-menu #p_p_id_145_ .nav-collapse > ul > li .icon-caret-down, html body.collapsed-menu #p_p_id_145_ .nav-collapse > ul > li .nav-item-label, html body.collapsed-menu #p_p_id_145_ .nav-collapse ul.nav-account-controls .user-avatar .user-full-name {
    display: none; }
  html body.collapsed-menu #p_p_id_145_ .nav-collapse ul.nav-account-controls .admin-links .dropdown-menu li .nav-item-label, html body.collapsed-menu #p_p_id_145_ .nav-collapse ul.nav-account-controls .user-avatar .nav-item-label, html body.collapsed-menu #p_p_id_145_ .nav-collapse > ul#_145_navAddControls > li .nav-item-label {
    display: inline-block; }
  html body.collapsed-menu #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications, html body.collapsed-menu #p_p_id_145_ #_145_mySites, html body.collapsed-menu #p_p_id_145_ #_145_adminLinks, html body.collapsed-menu #p_p_id_145_ #_145_userAvatar, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn {
    background: #1ab394;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 0;
    text-align: center;
    width: 38px;
    border-radius: 3px; }
    html body.collapsed-menu #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications a.dropdown-toggle, html body.collapsed-menu #p_p_id_145_ #_145_mySites a.dropdown-toggle, html body.collapsed-menu #p_p_id_145_ #_145_adminLinks a.dropdown-toggle, html body.collapsed-menu #p_p_id_145_ #_145_userAvatar a.dropdown-toggle, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn a.dropdown-toggle, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn a.dropdown-toggle {
      padding: 0;
      color: white;
      min-width: 30px;
      background: inherit; }
  html body.collapsed-menu #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications.open, html body.collapsed-menu #p_p_id_145_ #_145_mySites.open, html body.collapsed-menu #p_p_id_145_ #_145_adminLinks.open, html body.collapsed-menu #p_p_id_145_ #_145_userAvatar.open, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn.open, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn.open {
    background: #f8ac59; }
    html body.collapsed-menu #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications.open a.dropdown-toggle, html body.collapsed-menu #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications.open a.dropdown-toggle:hover, html body.collapsed-menu #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications.open a.dropdown-toggle:focus, html body.collapsed-menu #p_p_id_145_ #_145_mySites.open a.dropdown-toggle, html body.collapsed-menu #p_p_id_145_ #_145_mySites.open a.dropdown-toggle:hover, html body.collapsed-menu #p_p_id_145_ #_145_mySites.open a.dropdown-toggle:focus, html body.collapsed-menu #p_p_id_145_ #_145_adminLinks.open a.dropdown-toggle, html body.collapsed-menu #p_p_id_145_ #_145_adminLinks.open a.dropdown-toggle:hover, html body.collapsed-menu #p_p_id_145_ #_145_adminLinks.open a.dropdown-toggle:focus, html body.collapsed-menu #p_p_id_145_ #_145_userAvatar.open a.dropdown-toggle, html body.collapsed-menu #p_p_id_145_ #_145_userAvatar.open a.dropdown-toggle:hover, html body.collapsed-menu #p_p_id_145_ #_145_userAvatar.open a.dropdown-toggle:focus, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn.open a.dropdown-toggle, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn.open a.dropdown-toggle:hover, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn.open a.dropdown-toggle:focus, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn.open a.dropdown-toggle, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn.open a.dropdown-toggle:hover, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn.open a.dropdown-toggle:focus {
      color: white;
      background: transparent;
      min-width: 30px; }
  html body.collapsed-menu #p_p_id_145_ .open .dropdown-menu {
    right: 0;
    left: inherit; }
  html body.collapsed-menu #p_p_id_145_ .open .dropdown-menu:before, html body.collapsed-menu #p_p_id_145_ .open .dropdown-menu:after {
    right: 9px;
    left: inherit;
    border-bottom: 7px solid #ccc; }
  html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarCollapse {
    position: absolute;
    top: 38px;
    right: 5px; }
    html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarCollapse ul {
      display: none !important;
      position: relative;
      border: medium none;
      border-radius: 3px;
      box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
      font-size: 12px;
      z-index: 1000;
      padding: 5px;
      background-color: white;
      left: inherit; }
    html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarCollapse ul:before, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarCollapse ul:after {
      content: '';
      display: inline-block;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-bottom-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: -7px;
      right: 9px; }
    html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarCollapse ul li > a {
      padding: 0 10px;
      border-radius: 3px;
      color: inherit;
      line-height: 25px;
      margin: 4px;
      text-align: left;
      font-weight: normal; }
    html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarCollapse ul li:HOVER {
      background: #f5f5f5; }
  html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarCollapse.open ul {
    display: inline-block !important; }
  html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarCollapse.nav-collapse .nav > li {
    float: none; }
  html body.collapsed-menu #p_p_id_145_ .nav-collapse > ul#_145_navAddControls > li .nav-item-label {
    font-size: inherit; }
  html body.collapsed-menu #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications a.dropdown-toggle {
    padding-left: 17px; }
  html body.collapsed-menu #p_p_id_145_ .dockbar-user-notifications .user-notifications-count:after {
    color: white; }
  html body.collapsed-menu #p_p_id_145_ .nav-account-controls .my-sites > a:before {
    -webkit-font-smoothing: antialiased;
    content: "\f0ac";
    font-family: 'fontawesome'; }
  html body.collapsed-menu #p_p_id_145_ .nav-account-controls .admin-links > a:before {
    -webkit-font-smoothing: antialiased;
    content: "\f013";
    font-family: 'fontawesome'; }

html .horiz-menu .navbar-search {
  float: none;
  height: 50px;
  margin-top: 0;
  padding: 0 1%; }
html .horiz-menu .navbar-form-custom {
  position: relative;
  padding-top: 12px; }
html .horiz-menu .navbar-form-custom input[type=image] {
  top: 12px; }
html .horiz-menu #p_p_id_145_ {
  padding-top: 5px; }
html .horiz-menu #_145_dockbar {
  min-height: inherit; }
html .horiz-menu .header-right.right {
  float: right; }
html .horiz-menu #top-navigation .navbar-top-navigation li a {
  padding: 10px 10px 7px 10px;
  font-size: 11px; }
html .horiz-menu #top-navigation .navbar-top-navigation li.active {
  border-left: none;
  border-bottom: 4px solid #19aa8d; }
html .horiz-menu #top-navigation .navbar-brand {
  padding: 10px 15px;
  height: inherit; }

html body.fixed-sidebar .navbar-static-side #slimScroll, html body.canvas-menu .navbar-static-side #slimScroll {
  height: 100%;
  overflow-y: scroll; }

html #p_p_id_145_ .dropdown-menu.lfr-menu-list.direction-down {
  margin-left: -160px !important; }

html .user-notifications-list li a {
  padding: 3px 2px; }

html .lfr-admin-panel a {
  color: gray !important; }

html .top-navigation .search-layout .nav > li, html .top-navigation .search-layout .nav > li.active {
  background: transparent; }

html .top-navigation .search-layout .nav > li a {
  background: transparent;
  color: inherit; }

html .nav-pills > li.active > a, html .nav-pills > li.active > a:hover, html .nav-pills > li.active > a:focus,
html .top-navigation .search-layout .nav > li.default a, html .nav-pills > li.default > a {
  background: #1ab394;
  color: white; }

html .nav-pills > li.active:not(.default) > a, html .nav-pills > li.active:not(.default) > a:hover, html .nav-pills > li.active:not(.default) > a:focus,
html .top-navigation .search-layout .nav > li.active:not(.default) a {
  background: transparent;
  color: inherit;
  border-left: 3px solid #14806A;
  border-radius: 0; }

html .lfr-token {
  background-color: transparent;
  border-color: #DDDDDD;
  border-radius: 2px; }

@media (min-width: 768px) {
  html .horiz-menu.large-menu .navbar-toggle {
    display: inherit; }
  html .horiz-menu.large-menu .navbar-header {
    float: none; }
  html .horiz-menu.large-menu .navbar-top-navigation.navbar-collapse.collapse {
    height: 0 !important;
    overflow: hidden !important; }
  html .horiz-menu.large-menu .navbar-top-navigation.navbar-collapse.collapse.in {
    height: inherit !important;
    overflow: visible !important; }
  html .horiz-menu.large-menu .navbar-top-navigation.navbar-collapse.collapse .nav.navbar-nav {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    width: 200px;
    right: 5px;
    left: inherit; }
  html .horiz-menu.large-menu .navbar-top-navigation.navbar-collapse.collapse .nav.navbar-nav li {
    display: block;
    width: 100%; }
  html .horiz-menu.large-menu #top-navigation .navbar-top-navigation li.active {
    border-left: none;
    border-left: 4px solid #19aa8d;
    border-bottom: none !important; }

  html .horiz-menu .navbar-right {
    float: none !important; }

  html body.mini-navbar .horiz-menu:not(.large-menu) .profile-element, html body.mini-navbar .horiz-menu:not(.large-menu) .nav-label, html body.mini-navbar .horiz-menu:not(.large-menu) .navbar-default .nav li a span {
    display: inherit; } }
/*********************************Responsive***********************************/
@media (min-width: 1301px) {
  html #_145_navAddControls li a span.nav-item-label {
    font-size: 0; }

  #_145_navAddControlsNavbarCollapse, #_145_dockbar .collapse, #_145_navAccountControlsNavbarCollapse, #_145_navAccountControls, #_145_navAddControls {
    height: 64px; } }
@media (max-width: 1300px) {
  html #p_p_id_145_ {
    /*********Edit menu******************/
    /*********End Edit menu******************/
    /*********Notification menu******************/
    /*********End Notification menu******************/
    /*********sites menu******************/
    /*********End sites menu******************/
    /*********admin menu******************/
    /*********End admin menu******************/ }
    html #p_p_id_145_ #_145_navAddControlsNavbarCollapse, html #p_p_id_145_ #_145_dockbar .collapse, html #p_p_id_145_ #_145_navAccountControlsNavbarCollapse, html #p_p_id_145_ #_145_navAccountControls, html #p_p_id_145_ #_145_navAddControls {
      overflow: visible;
      height: inherit; }
    html #p_p_id_145_ .nav-collapse > ul > li .icon-caret-down, html #p_p_id_145_ .nav-collapse > ul > li .nav-item-label, html #p_p_id_145_ .nav-collapse ul.nav-account-controls .user-avatar .user-full-name {
      display: none; }
    html #p_p_id_145_ .nav-collapse ul.nav-account-controls .admin-links .dropdown-menu li .nav-item-label, html #p_p_id_145_ .nav-collapse ul.nav-account-controls .user-avatar .nav-item-label, html #p_p_id_145_ .nav-collapse > ul#_145_navAddControls > li .nav-item-label {
      display: inline-block; }
    html #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications, html #p_p_id_145_ #_145_mySites, html #p_p_id_145_ #_145_adminLinks, html #p_p_id_145_ #_145_userAvatar, html #p_p_id_145_ #_145_navAddControlsNavbarBtn, html #p_p_id_145_ #_145_navAddControlsNavbarBtn {
      background: #1ab394;
      height: 38px;
      line-height: 38px;
      display: inline-block;
      margin: 0 0 0 5px;
      padding: 0;
      text-align: center;
      width: 38px;
      border-radius: 3px; }
      html #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications a.dropdown-toggle, html #p_p_id_145_ #_145_mySites a.dropdown-toggle, html #p_p_id_145_ #_145_adminLinks a.dropdown-toggle, html #p_p_id_145_ #_145_userAvatar a.dropdown-toggle, html #p_p_id_145_ #_145_navAddControlsNavbarBtn a.dropdown-toggle, html #p_p_id_145_ #_145_navAddControlsNavbarBtn a.dropdown-toggle {
        padding: 0;
        color: white;
        display: inline-block;
        min-width: 30px; }
    html #p_p_id_145_ .nav-collapse .nav > li > a:hover, html #p_p_id_145_ .nav-collapse .nav > li > a:focus, html #p_p_id_145_ .nav-collapse .dropdown-menu a:hover, html #p_p_id_145_ .nav-collapse .dropdown-menu a:focus {
      background: transparent; }
    html #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications.open, html #p_p_id_145_ #_145_mySites.open, html #p_p_id_145_ #_145_adminLinks.open, html #p_p_id_145_ #_145_userAvatar.open, html #p_p_id_145_ #_145_navAddControlsNavbarBtn.open, html #p_p_id_145_ #_145_navAddControlsNavbarBtn.open {
      background: #f8ac59; }
      html #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications.open a.dropdown-toggle, html #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications.open a.dropdown-toggle:hover, html #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications.open a.dropdown-toggle:focus, html #p_p_id_145_ #_145_mySites.open a.dropdown-toggle, html #p_p_id_145_ #_145_mySites.open a.dropdown-toggle:hover, html #p_p_id_145_ #_145_mySites.open a.dropdown-toggle:focus, html #p_p_id_145_ #_145_adminLinks.open a.dropdown-toggle, html #p_p_id_145_ #_145_adminLinks.open a.dropdown-toggle:hover, html #p_p_id_145_ #_145_adminLinks.open a.dropdown-toggle:focus, html #p_p_id_145_ #_145_userAvatar.open a.dropdown-toggle, html #p_p_id_145_ #_145_userAvatar.open a.dropdown-toggle:hover, html #p_p_id_145_ #_145_userAvatar.open a.dropdown-toggle:focus, html #p_p_id_145_ #_145_navAddControlsNavbarBtn.open a.dropdown-toggle, html #p_p_id_145_ #_145_navAddControlsNavbarBtn.open a.dropdown-toggle:hover, html #p_p_id_145_ #_145_navAddControlsNavbarBtn.open a.dropdown-toggle:focus, html #p_p_id_145_ #_145_navAddControlsNavbarBtn.open a.dropdown-toggle, html #p_p_id_145_ #_145_navAddControlsNavbarBtn.open a.dropdown-toggle:hover, html #p_p_id_145_ #_145_navAddControlsNavbarBtn.open a.dropdown-toggle:focus {
        color: white;
        background: transparent;
        min-width: 30px; }
    html #p_p_id_145_ .dropdown-menu {
      max-width: 200px; }
    html #p_p_id_145_ .open .dropdown-menu {
      right: 0;
      left: inherit; }
    html #p_p_id_145_ .open .dropdown-menu:before, html #p_p_id_145_ .open .dropdown-menu:after {
      right: 9px;
      left: inherit;
      border-bottom: 7px solid #ccc; }
    html #p_p_id_145_ .dropdown-menu li:HOVER {
      background: #f5f5f5; }
    html #p_p_id_145_ .dropdown-menu li a {
      padding: 4px 15px; }
    html #p_p_id_145_ .dropdown-menu li:HOVER a {
      color: #262626; }
    html #p_p_id_145_ #_145_navAddControlsNavbarCollapse {
      position: absolute;
      top: 38px;
      right: 5px; }
      html #p_p_id_145_ #_145_navAddControlsNavbarCollapse ul {
        display: none !important;
        position: relative;
        border: medium none;
        border-radius: 3px;
        box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
        font-size: 12px;
        z-index: 1000;
        padding: 5px;
        background-color: white;
        left: inherit; }
      html #p_p_id_145_ #_145_navAddControlsNavbarCollapse ul:before, html #p_p_id_145_ #_145_navAddControlsNavbarCollapse ul:after {
        content: '';
        display: inline-block;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-bottom-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: -7px;
        right: 9px; }
      html #p_p_id_145_ #_145_navAddControlsNavbarCollapse ul li > a {
        padding: 0 10px;
        border-radius: 3px;
        color: inherit;
        line-height: 25px;
        margin: 4px;
        text-align: left;
        font-weight: normal; }
      html #p_p_id_145_ #_145_navAddControlsNavbarCollapse ul li:HOVER {
        background: #f5f5f5; }
    html #p_p_id_145_ #_145_navAddControlsNavbarCollapse.open ul {
      display: inline-block !important; }
    html #p_p_id_145_ #_145_navAddControlsNavbarCollapse.nav-collapse .nav > li {
      float: none; }
    html #p_p_id_145_ .nav-collapse > ul#_145_navAddControls > li .nav-item-label {
      font-size: inherit; }
    html #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications a.dropdown-toggle {
      padding-left: 17px; }
    html #p_p_id_145_ .dockbar-user-notifications .user-notifications-count:after {
      color: white; }
    html #p_p_id_145_ .nav-account-controls .my-sites > a:before {
      -webkit-font-smoothing: antialiased;
      content: "\f0ac";
      font-family: 'fontawesome'; }
    html #p_p_id_145_ .nav-account-controls .admin-links > a:before {
      -webkit-font-smoothing: antialiased;
      content: "\f013";
      font-family: 'fontawesome'; }

  html .portlet-borderless-container, html .portlet.portlet-container {
    padding: 5px; }

  html #_1_WAR_calendarportlet_scheduler .scheduler-base-hd, html #_1_WAR_calendarportlet_scheduler .scheduler-base-hd button {
    font-size: 12px !important; }

  html .scheduler-base-hd .scheduler-base-controls button, html .scheduler-base-hd .scheduler-base-views button {
    padding: 3px 5px; } }
@media (max-width: 1100px) {
  html #portlet_58 .control-group {
    width: 100%; }

  html #portlet_58 form[action*="open_id"] input, html #portlet_58 form[action*="open_id"] textarea, html #portlet_58 form[action*="open_id"] select, html #portlet_58 form[action*="open_id"] label.control-label, html #portlet_58 form[action*="open_id"] label.control-label, html #portlet_58 form[action*="forgot_password"] input, html #portlet_58 form[action*="forgot_password"] textarea, html #portlet_58 form[action*="forgot_password"] select, html #portlet_58 form[action*="forgot_password"] label.control-label, html #portlet_58 form[action*="forgot_password"] label.control-label, html #portlet_58 form.sign-in-form input, html #portlet_58 form.sign-in-form textarea, html #portlet_58 form.sign-in-form select, html #portlet_58 form.sign-in-form label.control-label, html #portlet_58 form.sign-in-form label.control-label {
    width: 90%;
    max-width: 90%; }
  html #portlet_58 form[action*="open_id"] .control-group, html #portlet_58 form[action*="forgot_password"] .control-group, html #portlet_58 form.sign-in-form .control-group {
    width: 48.93617%; }
  html #portlet_58 form[action*="open_id"] input[type='checkbox'], html #portlet_58 form[action*="open_id"] [for="_58_rememberMeCheckbox"], html #portlet_58 form[action*="forgot_password"] input[type='checkbox'], html #portlet_58 form[action*="forgot_password"] [for="_58_rememberMeCheckbox"], html #portlet_58 form.sign-in-form input[type='checkbox'], html #portlet_58 form.sign-in-form [for="_58_rememberMeCheckbox"] {
    width: auto; }

  html #portlet_58 .button-holder, html #portlet_58 .navigation {
    width: 48.93617%; }

  html #portlet_58 .button-holder button.btn, html #portlet_58 .navigation li {
    width: 90%; } }
@media (max-width: 979px) {
  #_145_navSiteNavigationNavbarBtn, #_145_navAccountControlsNavbarBtn {
    display: none; }

  html .navbar .nav.navbar-top-links {
    margin-top: 20px; }

  html .navbar .nav.navbar-top-links li a.login-link {
    font-size: 1px;
    color: transparent; }

  html .navbar .nav.navbar-top-links li a.login-link i {
    font-size: 20px;
    color: #555;
    margin-top: 0;
    line-height: 33px; }

  html #portlet_33 .collapse, html #portlet_33 .nav-collapse.collapse {
    height: 0 !important; }

  html #portlet_33 .collapse.open, html #portlet_33 .nav-collapse.collapse.open {
    height: inherit !important;
    display: inline-block; }

  html #portlet_33 .navbar-inner {
    padding-left: 5px;
    padding-right: 5px; }

  html #portlet_33 .navbar-inner .btn.btn-navbar {
    margin-right: 0;
    margin-top: 4px !important; }

  html #portlet_33 .nav-collapse ul.nav {
    margin-bottom: 0; }

  html .nav-collapse .navbar-search {
    border: none; }

  html .search-query {
    border-radius: 0;
    background: url("../images/search-gray.png") 100% center no-repeat; }

  html #p_p_id_145_ .open .dropdown-menu {
    position: absolute;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    font-size: 12px;
    z-index: 1000;
    padding: 5px;
    background-color: white;
    left: inherit; } }
@media (max-width: 800px) {
  html .navbar-form-custom {
    position: relative; }

  html .navbar-header.navbar-search, .header-right.right {
    float: none;
    display: block; }

  html .navbar-header.navbar-search {
    margin-top: 0; }

  #p_p_id_145_ {
    padding-top: 5px; }

  html .dockbar.navbar-static-top {
    min-height: 30px; }

  html .navbar .nav.navbar-top-links {
    margin-top: 5px; }

  #_145_dockbar .container {
    margin-left: 10px; }

  html #_145_dockbar .nav-collapse #_2_WAR_notificationsportlet_userNotifications .dropdown-menu {
    max-width: 280px;
    right: auto; }

  html #_145_dockbar .nav-collapse #_2_WAR_notificationsportlet_userNotifications .dropdown-menu:before,
  html #_145_dockbar .nav-collapse #_2_WAR_notificationsportlet_userNotifications .dropdown-menu:after {
    right: inherit;
    left: 0; }

  html #p_p_id_145_ .open .dropdown-menu, html body.collapsed-menu #p_p_id_145_ .open .dropdown-menu,
  html #_145_navAccountControls li.dockbar-item ul.dropdown-menu {
    left: 0;
    right: inherit;
    margin-left: 0; }

  html .header-right.right {
    float: left; }

  html .horiz-menu #_145_dockbar .nav-collapse #_2_WAR_notificationsportlet_userNotifications .dropdown-menu,
  html .horiz-menu #p_p_id_145_ .open .dropdown-menu, html body.collapsed-menu .horiz-menu #p_p_id_145_ .open .dropdown-menu {
    right: 0;
    left: inherit; } }
@media (max-width: 768px) {
  html .btn {
    margin-top: inherit; }

  html .col-xs-1, html .col-sm-1, html .col-md-1, html .col-lg-1, html .col-xs-2, html .col-sm-2, html .col-md-2, html .col-lg-2, html .col-xs-3, html .col-sm-3, html .col-md-3, html .col-lg-3, html .col-xs-4, html .col-sm-4, html .col-md-4, html .col-lg-4, html .col-xs-5, html .col-sm-5, html .col-md-5, html .col-lg-5, html .col-xs-6, html .col-sm-6, html .col-md-6, html .col-lg-6, html .col-xs-7, html .col-sm-7, html .col-md-7, html .col-lg-7, html .col-xs-8, html .col-sm-8, html .col-md-8, html .col-lg-8, html .col-xs-9, html .col-sm-9, html .col-md-9, html .col-lg-9, html .col-xs-10, html .col-sm-10, html .col-md-10, html .col-lg-10, html .col-xs-11, html .col-sm-11, html .col-md-11, html .col-lg-11, html .col-xs-12, html .col-sm-12, html .col-md-12, html .col-lg-12
  , html #page-wrapper {
    padding-right: 5px;
    padding-left: 5px; }

  html .row {
    margin-right: 0px;
    margin-left: 0px; }

  html .minimalize-styl-2 {
    margin-left: 0; }

  html .theme-config {
    top: 75px; }

  html .navbar-top-links li:last-child {
    margin-right: 0;
    margin: 0; }

  html .navbar .nav.navbar-top-links > li > a {
    padding-left: 11px;
    padding-right: 11px; }

  html .navbar .nav.navbar-top-links.navbar-right {
    float: right; }

  html body {
    padding: 0 !important; }

  html .navbar-fixed-top, html .navbar-fixed-bottom, html .navbar-static-top {
    margin-left: 0;
    margin-right: 0; }

  span.welcome-message {
    display: none; }

  html .navbar-search .navbar-form-custom {
    display: inline-block; }

  #btnClose {
    width: 40px; }

  html .border-bottom.row {
    margin-left: 0;
    margin-right: 0; }

  html .navbar-form-custom input[type=image] {
    right: -37px;
    padding: 6px 5px; }

  #_145_dockbar .container {
    margin-left: 0; }

  html .navbar-header.navbar-search {
    padding-left: 10px; }

  html #portlet_58 form[action*="open_id"] .control-group, html #portlet_58 form[action*="forgot_password"] .control-group, html #portlet_58 form.sign-in-form .control-group {
    width: 100%; }

  html #portlet_58 .button-holder, html #portlet_58 .navigation {
    width: 100%; }

  html .user-notifications-sidebar {
    width: 38%;
    margin: 0; }

  html .user-notifications-list-container {
    width: 60%;
    margin: 0 1%; }

  html .horiz-menu .navbar-top-navigation.navbar-collapse.collapse.in {
    height: inherit !important;
    overflow: visible !important; }
  html .horiz-menu .navbar-top-navigation.navbar-collapse.collapse .nav.navbar-nav {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    width: 200px;
    right: 0;
    left: inherit; }
  html .horiz-menu .navbar-top-navigation.navbar-collapse.collapse .nav.navbar-nav li {
    display: block;
    width: 100%; }
  html .horiz-menu #top-navigation .navbar-top-navigation li.active {
    border-left: none;
    border-left: 4px solid #19aa8d;
    border-bottom: none; }

  html #_1_WAR_calendarportlet_scheduler .scheduler-base-hd .btn-group, html #_1_WAR_calendarportlet_scheduler .scheduler-base-hd button {
    width: auto; }

  html .taglib-rss {
    top: 55px; } }
@media (max-width: 550px) {
  a#_145_navSiteNavigationNavbarBtn {
    display: none; }

  html .navbar-form-custom {
    width: 170px; }

  html #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications, html #p_p_id_145_ #_145_mySites, html #p_p_id_145_ #_145_adminLinks, html #p_p_id_145_ #_145_userAvatar, html #p_p_id_145_ #_145_navAddControlsNavbarBtn, html #p_p_id_145_ #_145_navAddControlsNavbarBtn, html body.collapsed-menu #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications, html body.collapsed-menu #p_p_id_145_ #_145_mySites, html body.collapsed-menu #p_p_id_145_ #_145_adminLinks, html body.collapsed-menu #p_p_id_145_ #_145_userAvatar, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn, html body.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn {
    line-height: 30px;
    width: 30px;
    height: 30px; }

  html .horiz-menu #p_p_id_145_ {
    padding-top: 10px; }

  html .horiz-menu .navbar-form-custom input[type=image] {
    right: 0;
    padding: 4px 5px; } }
@media (max-width: 450px) {
  html table.table-mail tr td {
    padding: 10px 0px 10px 4px; }

  html .table-mail .check-mail {
    padding-left: 5px; }
  html .table-mail .mail-date {
    padding-right: 5px; }

  html .star-mail, html .check-mail {
    width: auto; }

  html .navbar-top-links .dropdown-messages, html .navbar-top-links .dropdown-tasks, html .navbar-top-links .dropdown-alerts {
    width: 290px; }

  html .navbar-top-links .dropdown-menu li a {
    padding: 3px 10px 3px 0px; }

  html #_145_dockbar .nav-collapse #_2_WAR_notificationsportlet_userNotifications .dropdown-menu {
    max-width: 190px;
    right: 10px; }

  html #portlet_58 .portlet-content, html #portlet_58 .portlet-content form {
    min-width: inherit; }

  html #portlet_58 form[action*="open_id"] input, html #portlet_58 form[action*="open_id"] textarea, html #portlet_58 form[action*="open_id"] select, html #portlet_58 form[action*="open_id"] label.control-label, html #portlet_58 form[action*="open_id"] label.control-label, html #portlet_58 form[action*="forgot_password"] input, html #portlet_58 form[action*="forgot_password"] textarea, html #portlet_58 form[action*="forgot_password"] select, html #portlet_58 form[action*="forgot_password"] label.control-label, html #portlet_58 form[action*="forgot_password"] label.control-label, html #portlet_58 form.sign-in-form input, html #portlet_58 form.sign-in-form textarea, html #portlet_58 form.sign-in-form select, html #portlet_58 form.sign-in-form label.control-label, html #portlet_58 form.sign-in-form label.control-label {
    width: 100%;
    max-width: 100%; }

  html #portlet_58 .button-holder button.btn, html #portlet_58 .navigation li,
  html #portlet_58 .control-group .control-label, html #portlet_58 .control-group input, html #portlet_58 .control-group select, html #portlet_58 .control-group textarea {
    width: 100%; }

  html #_145_dockbar .nav-collapse #_2_WAR_notificationsportlet_userNotifications .dropdown-menu,
  html #p_p_id_145_ .open#_145_userAvatar .dropdown-menu, html body.collapsed-menu #p_p_id_145_ .open#_145_userAvatar .dropdown-menu {
    left: -55px;
    right: inherit; }

  html .horiz-menu #_145_dockbar .nav-collapse #_2_WAR_notificationsportlet_userNotifications .dropdown-menu,
  html .horiz-menu #p_p_id_145_ .open .dropdown-menu, html body.collapsed-menu .horiz-menu #p_p_id_145_ .open .dropdown-menu {
    margin: 0;
    right: -60px;
    left: inherit; }

  html .horiz-menu #p_p_id_145_ .open#_145_userAvatar .dropdown-menu, html body.collapsed-menu .horiz-menu #p_p_id_145_ .open#_145_userAvatar .dropdown-menu {
    margin: 0;
    right: -40px;
    left: inherit; } }
@media (max-width: 410px) {
  html .horiz-menu .navbar-search {
    height: 91px;
    padding: 0 15px; }

  html .horiz-menu .navbar-form-custom input[name="_3_keywords"], html .horiz-menu .navbar-form-custom {
    width: 100%; } }
    
    

[id^="portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_"] .portlet-title-text{display: none; }
.blueimp-gallery > .slides > .slide{width: 100% !important; left:0 !important; position: absolute !important;}
.blueimp-gallery > .indicator > li{    width: 20px !important; height: 20px !important;  background-size: 100% !important;}
.blueimp-gallery > .indicator > li:hover, .blueimp-gallery > .indicator > .active{border-radius: 50%;}
