html {
  /*#1ab394 --> #ecba52*/ }
  html body.skin-3.mini-navbar .nav-header {
    background-color: #ecba52; }
  html body.skin-3 {
    /*skin-3*/
    background: #3e2c42; }
    html body.skin-3 .nav-header {
      background: #ecba52;
      background: url("/o/inspinia-theme/css/patterns/header-profile-skin-3.png");
      background-size: cover; }

/*************Style************/
html .skin-3 a {
  color: #ecba52; }

html .skin-3 .setings-item a {
  color: white; }

html body.skin-3.mini-navbar .nav-header {
  background-color: #ecba52; }

html .skin-3.top-navigation .navbar-nav .dropdown-menu > .active > a {
  color: #ecba52; }
html .skin-3.top-navigation .nav > li a:hover, html .skin-3.top-navigation .nav > li a:focus {
  color: #ecba52; }
html .skin-3.top-navigation .nav > li.active > a {
  color: #ecba52; }
html .skin-3.top-navigation .navbar-brand {
  background: #ecba52; }

html body.skin-3 #side-menu.nav > li > a {
  color: white; }
html body.skin-3 #side-menu.nav > li > a:hover, html body.skin-3 #side-menu.nav > li > a:focus {
  background: #EA9B41; }
html body.skin-3 #top-navigation .nav > li.active {
  border-color: #A66C3D;
  background: #38283c; }
html body.skin-3 .horiz-menu .navbar-brand {
  background: #ecba52; }
html body.skin-3 .horiz-menu .nav > li a:hover, html body.skin-3 .horiz-menu .nav > li a:focus, html body.skin-3 .horiz-menu #top-navigation .navbar-top-navigation li.active > a {
  color: #ecba52; }
html body.skin-3 .horiz-menu #top-navigation .navbar-top-navigation li.active {
  border-color: #ecba52; }
html body.skin-3 .navbar-default .special_link a {
  background: #ecba52; }
html body.skin-3 .navbar-default .special_link a span.label {
  color: #ecba52; }
html body.skin-3 .navbar-default .landing_link a:hover {
  background: #ecba52 !important; }
html body.skin-3 .navbar-toggle {
  background-color: #ecba52; }
html body.skin-3 .btn-primary.btn-outline {
  color: #ecba52; }
html body.skin-3 .btn-primary {
  background: #ecba52;
  background-color: #ecba52;
  border-color: #ecba52;
  color: #FFFFFF; }
html body.skin-3 .btn-link:hover, html body.skin-3 .btn-link:focus, html body.skin-3 .btn-link:active, html body.skin-3 .btn-link.active, html body.skin-3 .open .dropdown-toggle.btn-link {
  color: #ecba52; }
html body.skin-3 .label-primary, html body.skin-3 .badge-primary {
  background-color: #ecba52; }
html body.skin-3 .onoffswitch-label {
  border-color: #ecba52; }
html body.skin-3 .onoffswitch-inner:before {
  background-color: #ecba52; }
html body.skin-3 .onoffswitch-switch {
  border-color: #ecba52; }
html body.skin-3 .fc-state-active {
  background-color: #ecba52;
  border-color: #ecba52;
  color: #ffffff; }
html body.skin-3 .fc-event, html body.skin-3 .fc-agenda .fc-event-time, html body.skin-3 .fc-event a {
  background-color: #ecba52;
  border-color: #ecba52; }
html body.skin-3 a.list-group-item.active, html body.skin-3 a.list-group-item.active:hover, html body.skin-3 a.list-group-item.active:focus {
  background-color: #ecba52;
  border-color: #ecba52;
  color: #FFFFFF; }
html body.skin-3 .pace .pace-progress {
  background: #ecba52; }
html body.skin-3 .form-control:focus, html body.skin-3 .single-line:focus {
  border-color: #ecba52 !important; }
html body.skin-3 .has-success .form-control {
  border-color: #ecba52; }
html body.skin-3 .has-success .control-label {
  color: #ecba52; }
html body.skin-3 .noUi-connect {
  background: none repeat scroll 0 0 #ecba52; }
html body.skin-3 .onoffswitch-label {
  border-color: #ecba52; }
html body.skin-3 .onoffswitch-inner:before {
  background-color: #ecba52; }
html body.skin-3 .onoffswitch-switch {
  border-color: #ecba52; }
html body.skin-3 .toast {
  background-color: #ecba52; }
html body.skin-3 .toast-success {
  background-color: #ecba52; }
html body.skin-3 .inspinia-notify.alert-info {
  border-left-color: #ecba52; }
html body.skin-3 .forum-item.active .fa {
  color: #ecba52; }
html body.skin-3 .forum-item.active a.forum-item-title {
  color: #ecba52; }
html body.skin-3 .vertical-date small {
  color: #ecba52; }
html body.skin-3 .branding {
  background-color: #ecba52; }
html body.skin-3 .navy-bg {
  background-color: #ecba52;
  color: #ffffff; }
html body.skin-3 .panel-primary > .panel-heading {
  background-color: #ecba52;
  border-color: #ecba52; }
html body.skin-3 .progress-bar {
  background-color: #ecba52; }
html body.skin-3 .text-navy {
  color: #ecba52; }
html body.skin-3 .category-list li a .text-navy {
  color: #ecba52; }
html body.skin-3 .faq-question {
  color: #ecba52; }
html body.skin-3 .issue-tracker .btn-link {
  color: #ecba52; }
html body.skin-3 .agile-list li.success-element {
  border-left-color: #ecba52; }
html body.skin-3 .open-small-chat {
  background: #ecba52; }
html body.skin-3 .open-small-chat:hover {
  background: #ecba52; }
html body.skin-3 .small-chat-box .content .chat-message.active {
  background: #ecba52; }
html body.skin-3 .sk-spinner-rotating-plane.sk-spinner {
  background-color: #ecba52; }
html body.skin-3 .sk-spinner-double-bounce .sk-double-bounce1, html body.skin-3 .sk-spinner-double-bounce .sk-double-bounce2 {
  background-color: #ecba52; }
html body.skin-3 .sk-spinner-wave div {
  background-color: #ecba52; }
html body.skin-3 .sk-spinner-wandering-cubes .sk-cube1, html body.skin-3 .sk-spinner-wandering-cubes .sk-cube2 {
  background-color: #ecba52; }
html body.skin-3 .sk-spinner-chasing-dots .sk-dot1, html body.skin-3 .sk-spinner-chasing-dots .sk-dot2 {
  background-color: #ecba52; }
html body.skin-3 .sk-spinner-three-bounce div {
  background-color: #ecba52; }
html body.skin-3 .sk-spinner-circle .sk-circle:before {
  background-color: #ecba52; }
html body.skin-3 .sk-spinner-cube-grid .sk-cube {
  background-color: #ecba52; }
html body.skin-3 .sk-spinner-wordpress.sk-spinner {
  background-color: #ecba52; }
html body.skin-3 .sk-spinner-fading-circle .sk-circle:before {
  background-color: #ecba52; }
html body.skin-3 .spin-icon {
  background: #ecba52; }
html body.skin-3 .navbar-default .landing_link a {
  background: #ecba52; }
html body.skin-3 .nav-tabs > li > a {
  color: #A7B1C2; }
html body.skin-3 #page-wrapper {
  background: #f3f3f4; }
html body.skin-3 #wrapper, html body.skin-3 .navbar-static-top {
  background-color: transparent;
  background: transparent; }

/*************Custom************/
html .skin-3 .navbar-form-custom input[type=image] {
  background-color: #ecba52; }

html .skin-3.top-navigation .nav > li.active > a {
  color: #ecba52; }

html .skin-3 #portlet_33 .entry-title a:hover {
  color: #ecba52; }

html .skin-3 .dockbar-user-notifications .dropdown-toggle .user-notifications-count, html .skin-3 .dockbar-user-notifications .user-notifications-count {
  background-color: #ecba52; }

html .skin-3 button, html .skin-3 .btn, html .skin-3 html input[type="button"], html .skin-3 input[type="reset"], html .skin-3 input[type="submit"] {
  background-color: #ecba52;
  background: #ecba52;
  color: #FFFFFF; }

html .skin-3 .btn:hover, html .skin-3 .btn:focus, html .skin-3 .btn:active, html .skin-3 .btn.active, html .skin-3 .btn.disabled, html .skin-3 .btn[disabled],
html .skin-3 .navbar .btn-navbar, html .skin-3 .navbar .btn-navbar:hover, html .skin-3 .navbar .btn-navbar:focus, html .skin-3 .navbar .btn-navbar:active {
  background: #ecba52;
  color: #FFFFFF; }

html .skin-3 .microblogs-portlet .microblogs-entry-form .microblogs-countdown {
  background: #ecba52; }

html .skin-3 #portlet_3 form input[type="image"] {
  background-color: #ecba52; }

html .skin-3 .notifications-portlet .nav a:hover, .notifications-portlet .nav a:focus, html .skin-3 .notifications-portlet .nav a.selected {
  background: #ecba52; }

html .skin-3 .notifications-portlet .nav a .count {
  background: #ecba52; }

html .skin-3 .notifications-portlet .nav a.selected .count {
  color: #ecba52; }

html .skin-3 #main-content .navbar .nav[role='menubar'] > li > a:focus, html .skin-3 #main-content .navbar .nav[role='menubar'] > li > a:hover, html .skin-3 #main-content .navbar .nav[role='menubar'] li.active a {
  background: #ecba52; }

html .skin-3 #portlet_115 .entry-content:before, html .skin-3 #portlet_33 .entry.approved:before {
  background: #ecba52; }

html .skin-3 .nav.nav-tabs li.active {
  background: #ecba52; }

html .skin-3 .nav.nav-tabs li.active a {
  background: #ecba52; }

html .skin-3 .form-search .input-append .btn {
  background: #ecba52 url("../../images/common/search.png") center no-repeat; }

html .skin-3 .social-activities {
  border-left-color: #ecba52; }

html .skin-3 .contacts-portlet .portlet .portlet-content .portlet-body form {
  background: #ecba52; }

html .skin-3 .contacts-portlet .contacts-result-container-content .contacts-list .contacts-search .icon-search {
  background: #ecba52; }

html .skin-3 .portlet-topper .portlet-topper-toolbar .portlet-icon-back:hover, html .skin-3 .portlet-topper .portlet-topper-toolbar .portlet-icon-back {
  color: #ecba52; }

html .skin-3.yui3-skin-sam .yui3-calendar-header {
  background: #ecba52; }

html .skin-3.yui3-skin-sam .calendar-portlet .yui3-calendar-weekday {
  color: #ecba52; }

html .skin-3 .toggler-header-expanded.calendar-portlet-list-header, html .skin-3 .calendar-portlet-list-header.toggler-header.toggler-header-collapsed, html .skin-3 .calendar-portlet-list-header.toggler-header.toggler-header-expanded {
  background: #ecba52; }

html .skin-3.yui3-skin-sam .calendar-portlet .yui3-calendar-day:hover, html .skin-3.yui3-skin-sam .calendar-portlet .yui3-calendar-day.yui3-calendar-day-selected:hover, html .skin-3.yui3-skin-sam .calendar-portlet .yui3-calendar-day.yui3-calendar-day-selected.lfr-busy-day:hover {
  background: #ecba52; }

html .skin-3 .scheduler-base-hd .scheduler-base-controls button.active, html .skin-3 .scheduler-base-hd .scheduler-base-controls button:hover, html .skin-3 .scheduler-base-hd .scheduler-base-controls button:focus, html .skin-3 .scheduler-base-hd .scheduler-base-views button.active, html .skin-3 .scheduler-base-hd .scheduler-base-views button:hover, html .skin-3 .scheduler-base-hd .scheduler-base-views button:focus {
  background: #ecba52; }

html .skin-3 .calendar-portlet .calendar-portlet-column-grid .scheduler-event {
  background: #ecba52;
  color: white; }

html .skin-3 .portlet-document-library-display .accordion-heading .accordion-toggle {
  background: #ecba52; }

html body.skin-3.collapsed-menu #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications, html body.skin-3.collapsed-menu #p_p_id_145_ #_145_mySites, html body.skin-3.collapsed-menu #p_p_id_145_ #_145_adminLinks, html body.skin-3.collapsed-menu #p_p_id_145_ #_145_userAvatar, html body.skin-3.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn, html body.skin-3.collapsed-menu #p_p_id_145_ #_145_navAddControlsNavbarBtn {
  background: #ecba52; }

html .skin-3.top-navigation .search-layout .nav > li, html .skin-3.top-navigation .search-layout .nav > li.active {
  background: transparent; }

html .skin-3.top-navigation .search-layout .nav > li a {
  background: transparent;
  color: inherit; }

html .skin-3 .nav-pills > li.active > a, html .skin-3 .nav-pills > li.active > a:hover, html .skin-3 .nav-pills > li.active > a:focus,
html .skin-3.top-navigation .search-layout .nav > li.default a, html .skin-3 .nav-pills > li.default a {
  background: #ecba52;
  color: white; }

html .skin-3 .nav-pills > li.active:not(.default) > a, html .skin-3 .nav-pills > li.active:not(.default) > a:hover, html .skin-3 .nav-pills > li.active:not(.default) > a:focus,
html .skin-3.top-navigation .search-layout .nav > li.active:not(.default) a {
  background: transparent;
  color: inherit;
  border-left: 3px solid #ecba52; }

@media (max-width: 1300px) {
  html .skin-3 #p_p_id_145_ #_2_WAR_notificationsportlet_userNotifications, html .skin-3 #p_p_id_145_ #_145_mySites, html .skin-3 #p_p_id_145_ #_145_adminLinks, html .skin-3 #p_p_id_145_ #_145_userAvatar, html .skin-3 #p_p_id_145_ #_145_navAddControlsNavbarBtn, html .skin-3 #p_p_id_145_ #_145_navAddControlsNavbarBtn {
    background: #ecba52; } }
